/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Poppins');


html, body {
    font-family: 'Poppins';
    font-size: 18px;
    margin: 0%;
    line-height: 1.5em;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 600px;
    margin: 9px 9px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}

#headerimage {
    width: 130px;
    margin: 12px 5px;
}

.section1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 600px;
    background-image: url('/Users/danibachslobo/Ironhack/lab-css-spotify-clone/images/landing.jpg');
    background-size: cover;
}

#section1title {
    font-size: 4em;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin: 0%;
  }

#section1paragraph {
    width: 1200px;
    text-align: center;
    margin: 50px 10px;
    color: #fff;
}

.section2 {
    height: 600px;
    flex-wrap: wrap;
}

.section2title {
    color: black;
    text-align: center;
    padding: 35px 5px;
    font-size: 1.5em;
}

.section2 .lines {
    background-color: #00B172;
    margin-left: 40%;
    margin-right: 40%;
}

.minilogos {
    width: 150px;
    margin: 12px 12px;
}

.minititles {
    color: #00B172;
    font-size: 20px;
    text-align: center;
}

.miniparts {
    align-content: center;
}
.miniparts p {
    text-align: center;
}

.section2content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin: 15px 30px;
}

.section3 {
    width: auto;
    height: 700px;
    background-color: #00B172;
    margin: 30px 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

#lines {
    background-color: white;
   
}

.spotifylastlogo {
    width: 120px;
    margin: 12px 12px;
}

.kanyewestimage {
    width: 300px;
    margin: 5px 5px;
}

.lastparagraphs {
    color: white;
}
